
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/resources/image.jpeg');
    background-size: cover;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
}
.nav-bar{
    background-color: #333;
    color: white;
    text-align: center;
    height: 5vh;
    width: 100%;
}