
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/resources/image.jpg');
    background-position: bottom  ;
    background-size: cover;
}
body{
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
}
.nav-bar{
    background-color: rgba(7, 7, 7, 0.164);
    color: white;
    text-align: center;
    height: 7vh;
    width: 100%;
    bottom: 0;
    position: fixed;
    backdrop-filter: blur(10px);
    padding-inline: 1vh;
    display: flex;
}
.item{
    margin-top: 0.4vh;
}
.window{
    border-radius: 6px;
    border: .5px solid rgb(255, 255, 255);
    background-color: rgba(5, 19, 54, 0.856);
}